/****** Object:  Table [dbo].[MetricsAlert]    Script Date: 1/16/2026 8:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetricsAlert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NodeName] [nvarchar](255) NOT NULL,
	[ClusterName] [nvarchar](255) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_MetricsAlert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetricsNotification]    Script Date: 1/16/2026 8:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetricsNotification](
	[ClusterName] [nvarchar](255) NOT NULL,
	[NotificationId] [int] NOT NULL,
 CONSTRAINT [PK_MetricsNotification] PRIMARY KEY CLUSTERED 
(
	[ClusterName] ASC,
	[NotificationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
