/****** Object:  Table [dbo].[Monitor]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[MonitorTypeId] [int] NULL,
	[HeartBeatInterval] [int] NULL,
	[Retries] [int] NULL,
	[Status] [bit] NULL,
	[DaysToExpireCert] [int] NULL,
	[Paused] [bit] NULL,
	[MonitorRegion] [int] NULL,
	[MonitorEnvironment] [int] NULL,
	[Tag] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorAgent]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorAgent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hostname] [varchar](100) NULL,
	[TimeStamp] [datetime] NULL,
	[IsMaster] [bit] NULL,
	[MonitorRegion] [int] NULL,
	[Version] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorAgentTasks]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorAgentTasks](
	[MonitorId] [int] NULL,
	[MonitorAgentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorAlert]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorAlert](
	[MonitorId] [int] NULL,
	[TimeStamp] [datetime] NULL,
	[Status] [bit] NULL,
	[Message] [varchar](2000) NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ScreenShotUrl] [varchar](2000) NULL,
	[Environment] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorGroup]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorGroupItems]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorGroupItems](
	[MonitorId] [int] NULL,
	[MonitorGroupId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorHistory]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MonitorId] [int] NULL,
	[Status] [bit] NULL,
	[TimeStamp] [datetime] NULL,
	[StatusCode] [int] NULL,
	[ResponseTime] [int] NULL,
	[HttpVersion] [varchar](50) NULL,
	[ResponseMessage] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorHttp]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorHttp](
	[MonitorId] [int] NULL,
	[CheckCertExpiry] [bit] NULL,
	[IgnoreTlsSsl] [bit] NULL,
	[MaxRedirects] [int] NULL,
	[UrlToCheck] [nvarchar](1000) NULL,
	[Timeout] [int] NULL,
	[MonitorHttpMethod] [int] NULL,
	[Body] [nvarchar](1000) NULL,
	[HeadersJson] [nvarchar](1000) NULL,
	[LastStatus] [bit] NULL,
	[HttpResponseCodeFrom] [int] NULL,
	[HttpResponseCodeTo] [int] NULL,
	[CheckMonitorHttpHeaders] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorHttpHeaders]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorHttpHeaders](
	[MonitorId] [int] NOT NULL,
	[CacheControl] [nvarchar](255) NULL,
	[StrictTransportSecurity] [nvarchar](255) NULL,
	[PermissionsPolicy] [nvarchar](255) NULL,
	[XFrameOptions] [nvarchar](255) NULL,
	[XContentTypeOptions] [nvarchar](255) NULL,
	[ReferrerPolicy] [nvarchar](255) NULL,
	[ContentSecurityPolicy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MonitorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorK8s]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorK8s](
	[MonitorId] [int] NULL,
	[ClusterName] [varchar](250) NULL,
	[KubeConfig] [nvarchar](max) NULL,
	[LastStatus] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorK8sNodes]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorK8sNodes](
	[MonitorK8sId] [int] NOT NULL,
	[NodeName] [varchar](50) NULL,
	[FrequentUnregisterNetDevice] [bit] NULL,
	[ReadonlyFilesystem] [bit] NULL,
	[FrequentKubeletRestart] [bit] NULL,
	[FilesystemCorruptionProblem] [bit] NULL,
	[VMEventScheduled] [bit] NULL,
	[FrequentDockerRestart] [bit] NULL,
	[FrequentContainerdRestart] [bit] NULL,
	[MemoryPressure] [bit] NULL,
	[DiskPressure] [bit] NULL,
	[PIDPressure] [bit] NULL,
	[Ready] [bit] NULL,
	[ContainerRuntimeProblem] [bit] NULL,
	[KernelDeadlock] [bit] NULL,
	[KubeletProblem] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorNotification]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorNotification](
	[MonitorId] [int] NULL,
	[NotificationId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorSettings]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorSettings](
	[HistoryDaysRetention] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorTcp]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorTcp](
	[MonitorId] [int] NULL,
	[Port] [int] NULL,
	[IP] [varchar](500) NULL,
	[Timeout] [int] NULL,
	[LastStatus] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitorType]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitorType](
	[Id] [int] NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfiguration]    Script Date: 1/16/2026 8:25:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfiguration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Key] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
