/****** Object:  Table [dbo].[NotificationEmailSmtp]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationEmailSmtp](
	[NotificationId] [int] NULL,
	[FromEmail] [nvarchar](255) NULL,
	[ToEmail] [nvarchar](255) NULL,
	[HostName] [nvarchar](255) NULL,
	[Port] [int] NULL,
	[Username] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[ToCCEmail] [nvarchar](255) NULL,
	[ToBCCEmail] [nvarchar](255) NULL,
	[EnableSSL] [bit] NULL,
	[Subject] [nvarchar](255) NULL,
	[Body] [nvarchar](max) NULL,
	[IsHtmlBody] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationItem]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](500) NULL,
	[NotificationTypeId] [int] NULL,
	[MonitorGroupId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationLog]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[NotificationTypeId] [int] NULL,
	[Message] [varchar](max) NULL,
 CONSTRAINT [NotificationLog_pk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationMonitorGroup]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationMonitorGroup](
	[NotificationId] [int] NULL,
	[MonitorGroupId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationSlack]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationSlack](
	[NotificationId] [int] NULL,
	[WebHookUrl] [nvarchar](max) NULL,
	[Channel] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTeams]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTeams](
	[NotificationId] [int] NULL,
	[WebHookUrl] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTelegram]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTelegram](
	[NotificationId] [int] NULL,
	[ChatId] [nvarchar](255) NULL,
	[TelegramBotToken] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationType]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationType](
	[Id] [int] NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationWebHook]    Script Date: 1/16/2026 8:27:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationWebHook](
	[NotificationId] [int] NULL,
	[Message] [nvarchar](3000) NULL,
	[WebHookUrl] [nvarchar](2000) NULL,
	[Body] [nvarchar](3000) NULL,
	[HeadersJson] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
